{{> searchForm location=location}}

<p>{{results.count}} results found</p>

{{#each results.listings}}
    <div>
        <div>
            <img src="{{image}}" alt="property image" />
            <h2>{{title}}</h2>
            <p>{{price}}</p>
            <p>{{description}}</p>
        </div>
        <div>
            <img src="{{agent.logo}}" alt="{{agent.name}}">
            <p>{{agent.name}}</p>
            <p>{{agent.address}}</p>
            <p>T: {{agent.phone}}</p>
        </div>
    </div>
{{/each}}